

<div class="col-md-8 offset-md-3">
    <h1 class="text-center">Create Account</h1>
    <div *ngIf="accountCreate" class="alert alert-success">
        Account Created Successfully....!

    </div>

    <form (ngSubmit)="onSubmit()">
        <div class="form-group">
            <label>
                Account Holder Name

            </label>
            <input type="text" id="accountHolderName" class="form-control" placeholder="Enter Account holder name"
                name="accountHolderName" [(ngModel)]="account.accountHolderName" />

        </div>

        <div>
            <label>
                Balance

            </label>
            <input type="text" id="balance" class="form-control" placeholder="Enter Balance" name="account"
                [(ngModel)]="account.balance" />

        </div>

        <div>
            <label>
                Email

            </label>
            <input type="text" id="email" class="form-control" placeholder="Enter Email" name="account"
                [(ngModel)]="account.email" />

        </div>

        <div>
            <label>
                Password

            </label>
            <input type="text" id="password" class="form-control" placeholder="Enter Password" name="account"
                [(ngModel)]="account.password" />

        </div>
           <div>
            <label>
                Mobile No.

            </label>
            <input type="text" id="phoneNumber" class="form-control" placeholder="Enter Mobile No" name="account"
                [(ngModel)]="account.phoneNumber" />

        </div>
         
        <button type="submit" class="btn btn-success">Submit</button>


    </form>
</div>