<table class="table table-striped">
  <thead class="table-light">
    <tr>
      <th>ID</th>
      <th>Account Holder Name</th>
      <th>Balance</th>
      <th>Action</th>
       
    </tr>
  </thead>
  <tbody>
   <ng-container *ngFor="let account of tempAccounts">
  <tr>
    <td>{{ account.id }}</td>
    <td>{{ account.accountHolderName }}</td>
 <td>
  <button class="btn btn-warning" (click)="toggleBalance(account.id)">
    {{ isBalanceVisible(account.id) ? account.balance : 'Show Balance' }}
  </button>
</td>

    <td><button (click)="deposit(account.id)" class="btn btn-info">Deposit</button></td>
    <td><button (click)="withdraw(account.id)" class="btn btn-info">Withdraw</button></td>
        <td><button (click)="transfer(account.id)" class="btn btn-info">Transfer</button></td>
    

    <td *ngIf="currentUser.role === 'ADMIN'">
      <button (click)="delete(account.id)" class="btn btn-danger">Delete</button>
    </td>
    
    <td><button (click)="view(account.id)" class="btn btn-info">View</button></td>
    <td><button (click)="statement(account.id)" class="btn btn-info">Statement</button></td>
   
  </tr>
</ng-container>
  </tbody>
</table>
